{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
  Galicaster Dashboard - Login
{% endblock %}

{% block login_form %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">Login</h1>
    </div>
    <div class="panel-body">
      {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    </div>
  </div>
{% endblock %}
