html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

td {
  text-align: center;
}

.td {
  vertical-align: middle;
}

.row {
  margin-top:     5px;
  margin-bottom:  5px;
}

.navbar-fixed-bottom {
  background-color: lightgray;
  padding-right: 5px;
  height: auto;
  min-height: 20px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}
