{% extends 'admin/master.html' %}

{% block body %}
  <div class="page-header">
    <h1>Galicaster Dashboard <small>Administration</small></h1>
  </div>
<div class="container">
  <p>On theese pages you can administer vital settings to your Galicaster Dashboard. Be careful!</p>
  <p><span class="glyphicon glyphicon-danger"> </span> Don't use if you're not sure what you are doing!</p>
</div>
{% endblock %}
