{% extends "base.html" %}

{% block head %}Galicaster Dashboard - Internal Server Error{% endblock %}

{% block dashboard %}
<div class="page-header">
    <h1>500 - Internal Server Error</h1>
</div>
{% endblock %}
