<!doctype html>
<html>
<head>
  <!-- For local development. -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

  {% block head %}
  <title>Galicaster Dashboard</title>
  {% endblock %}
</head>
<!-- darstellung -->
<body>
  <nav class="navbar navbar-default">
    <div class="container container-fluid">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GC-Dashboard <span class="glyphicon glyphicon-dashboard"></span></a>
      <div class="collapse navbar-collapse" id="mainnav">
        <ul class="nav navbar-nav">
          {% block active_element %}
          {% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.logout') }}">Log Out - {{ current_user.username }}</a></li>
        {% else %}
          <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
        {% endif %}
      </ul>
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container col-md-8 col-md-offset-2">
      <div class="alert alert-success" role="alert">
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  {% endwith %}
  <div class="container-fluid col-xs-12 col-md-10 col-md-offset-1">
    <div class="content">
      {% block configuration %}{% endblock %}
    </div>
  </div>
  <div class="container col-md-8">
    <div class="content">
      {% block dashboard %}{% endblock %}
    </div>
  </div>
  <div class="container col-md-4">
    <div class="content">
      {% block dashboard_img %}{% endblock %}
    </div>
  </div>
  <div class="container col-md-4 col-md-offset-4">
    <div class="content">
      {% block login_form %}{% endblock %}
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="navbar navbar-right navbar-fixed-bottom">
        &copy; 2015<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, s.rohkaemper
      </div>
    </div>
  </footer>
  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  {{ moment.include_moment() }}
  {{ moment.lang('de') }}
</body>

</html>
