{% extends "base.html" %}

{% block active_element %}
  <li><a href="/">Main <span class="sr-only">(current)</span></a></li>
  {% if session.is_admin %}
  <li class="active"><a href="/config">Configuration</a></li>
  <li><a href="/admin">Administration</a></li>
  {% elif session.is_mod %}
  <li class="active"><a href="/config">Configuration</a></li>
  {% endif %}
{% endblock %}

{% block configuration %}
<div class="panel panel-primary">
  <div class="panel-body">
  <!-- Table starts -->
  <table class="table table-bordered table-hover">
    <thead>
      <td>Name</td>
      <td>IP:Port</td>
      <td>Username</td>
      <td>remove Item</td>
    </thead>
    <tbody>
    {% for key, value in gc_list.items()|sort recursive %}
      <tr>
        <td>{{ key|trim }}</td>
        <td>{{ value['ip']|trim }}:{{ value['port']|trim }}</td>
        <td>{{ value['user'] }}</td>
        <td>
          <form action="/config/del" method="POST" name="remove-{{ key }}" id="remove-{{ key }}">
              <input type="hidden" name="remove" value="{{ key }}">
              <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <!-- Table ends -->
  </div>
  <form class="form-inline" action="/config/add" method="POST" name="add-entry" id="add-entry">
  <div class="panel-footer panel-primary">
    <div class="input-group col-xs-12" style="margin-bottom: 3px">
      <span class="input-group-addon" style="width: 40px"><span class="glyphicon glyphicon-floppy-disk"></span></span>
      <input type="text" name="name" class="form-control" placeholder="Save as 'Name'" aria-described-by="name"></input>
    </div>
    <div class="input-group col-xs-12" style="margin-bottom: 3px">
      <span class="input-group-addon" style="width: 40px">@</span>
      <input type="text" name="host" class="form-control" placeholder="Hostname / IP" aria-described-by="host"></input>
    </div>
    <div class="input-group col-xs-12" style="margin-bottom: 3px">
      <span class="input-group-addon" style="width: 40px">:</span>
      <input type="text" name="port" class="form-control" placeholder="8080" aria-described-by="port" value="8080"></input>
    </div>
    <div class="input-group col-xs-12" style="margin-bottom: 3px">
      <span class="input-group-addon" style="width: 40px"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" name="username" class="form-control" placeholder="Username" aria-described-by="username"></input>
    </div>
    <div class="input-group col-xs-3 col-xs-offset-9">
      <input type="hidden" name="add-button" id="add-button">
      <button class="btn btn-success btn-block" type="submit"><span class="glyphicon glyphicon-plus"></span> Add configuration</button>
    </div>
  </div> <!-- /panel -->
  </form>
</div>
{% endblock %}
