{% extends "base.html" %}
<!-- {{ super() }} -->

{% block active_element %}
<li class="active"><a href="/">Main <span class="sr-only">(current)</span></a></li>
{% if session.is_admin %}
<li><a href="/config">Configuration</a></li>
<li><a href="/admin">Administration</a></li>
{% elif session.is_mod %}
<li><a href="/config">Configuration</a></li>
{% endif %}
{% endblock %}

{% block dashboard %}
<div class="panel panel-primary">
  <div class="panel-body">
    <!-- Table starts -->
    <table class="table table-bordered table-hover">
      <thead>
        <td rowspan="2" style="vertical-align: middle;">Name</td>
        {% if session.is_adv_user or session.is_mod or session.is_admin %}
        <td colspan="2">free space</td>
        {% endif %}
        <td rowspan="2" style="vertical-align: middle;">recording?</td>
        <td rowspan="2" style="vertical-align: middle;" colspan="2">control recording</td>
        <td rowspan="2" style="vertical-align: middle;" >get screen</td>
        <td rowspan="2" style="vertical-align: middle;">refresh</td>
        {% if session.is_adv_user or session.is_mod or session.is_admin %}
        <td rowspan="2" style="vertical-align: middle;">reboot</td>
        <td rowspan="2" style="vertical-align: middle;">delete log</td>
        {% endif %}
        {% if session.is_adv_user or session.is_mod or session.is_admin %}
        <tr>
          <td>/</td>
          <td>/pub</td>
        </tr>
        {% endif %}
      </thead>
      {% for key, value in gc_list.items()|sort recursive %}
      <tbody>
        <tr>
          <td>{{ key|trim }}</td>
          {% if session.is_adv_user or session.is_mod or session.is_admin %}
          {% if value['free_space_root'] %}
          <td>
            {{ value['free_space_root'] }}
          </td>
          {% else %}
          <td><span class="glyphicon glyphicon-alert"></span> n.A.</td>
          {% endif %}
          {% if value['free_space_pub'] %}
          <td>{{ value['free_space_pub'] }}</td>
          {% else %}
          <td><span class="glyphicon glyphicon-alert"></span> n.A.</td>
          {% endif %}
          {% endif %}
          <td>
            {% if value['state'] == true %}
            <span class="glyphicon glyphicon-ok-sign"></span> Yes
            {% elif value['state'] == 'error' %}
            <span class="glyphicon glyphicon-alert"></span> Error
            {% elif value['state'] == 'timeout' %}
            <span class="glyphicon glyphicon-alert"></span> Timeout
            {% else %}
            <span class="glyphicon glyphicon-remove-sign"></span> No
            {% endif %}
          </td>
          <td>
            <form action="/recording/start" method="POST" name="start-recording-{{ key }}" id="start-recording-{{ key }}">
              <input type="hidden" name="rec_start" value="{{ key }}">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-record"></span> start</button>
            </form>
          </td>
          <td>
            <form action="/recording/stop" method="POST" name="stop-recording-{{ key }}" id="stop-recording-{{ key }}">
              <input type="hidden" name="rec_stop" value="{{ key }}">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-stop"></span> stop</button>
            </form>
          </td>
          <td>
            <form action="/getscreen" method="POST" name="get-screen-{{ key }}" id="get-screen-{{ key }}">
              <input type="hidden" name="screen" value="{{ key }}">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-screenshot"></span> Get</button>
            </form>
          </td>
          <td>
            <form action="/refresh" method="POST" name="refresh-{{ key }}" id="refresh-{{ key }}">
              <input type="hidden" name="refresh" value="{{ key }}">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-refresh"></span></button>
            </form>
          </td>
          {% if session.is_adv_user or session.is_mod or session.is_admin %}
          <td>
            <form action="/reboot" method="POST" name="reboot-{{ key }}" id="reboot-{{ key }}">
              <input type="hidden" name="reboot" value="{{ key }}">
              <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-console"></span> Reboot</button>
            </form>
          </td>
          <td>
            <form action="/clearlog" method="POST" name="clearlog-{{ key }}" id="clearlog-{{ key }}">
              <input type="hidden" name="clearlog" value="{{ key }}">
              <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-erase"></span> clear</button>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Table ends -->
  </div>
  <div class="panel-footer">
    <form action="/refresh" method="POST" name="refresh" id="refresh">
      <input type="hidden" name="refresh" id="refresh" value="all">
      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-refresh"></span> Refresh overview</button>
    </form>
    <small>last update: {{ moment(session.last_update).format('LLLL') }}</small>
  </div>
</div> <!-- /panel -->
{% endblock %}

{% block dashboard_img %}
<div class="panel panel-info">
  <div class="panel-heading">Screenshot of: {{ session.screenshot_name }}</div>
  <div class="panel-body">
    {% if session.screenshot_name %}
    <img class="img-responsive" alt="Screenshot" src="http://{{ session.screenshot_ip }}/screen">
    {% else %}
    Please select an Unit from list with <span class="glyphicon glyphicon-screenshot"></span>
    {% endif %}
  </div>
</div>
{% endblock %}
